<%= link_to team_standups_path(team), :class => "team" do %>
  <div class="left">
    <h5 class="team-title"><%= team.name %></h5>

    <span class="reminder-time">
      Standup at <%= team.time.strftime("%I:%M %p") %>
    </span>
  </div>
<% end %>
