<div class="container">
  <%= render 'shared/model_errors', model: @team %>

  <h3>Edit team</h3>

  <%= render 'teams/form' %>

  <%= link_to "Delete Team", @team, method: :delete,
                              data: { confirm: "You sure?" }, class: "delete" %>
  </div>
