<div class="container">
  <div class="team-header">
    <h1 class="team-header-title">
      Your Teams
    </h1>

    <div class="actions">
      <%= link_to "Create a new team", new_team_path %>
    </div>
  </div>

  <div class="teams">
    <% if @teams.any? %>
      <div class="team">
        <%= render @teams %>
      </div>
    <% else %>
      <div class="no-teams">
        <p>You have no teams, add a team below</p>
      </div>
    <% end %>
  </div>
</div>
