<div class="standups-page">
  <% if @todays_standup.nil? %>
    <div class="new-standup">
      <%= render 'shared/model_errors', model: @standup %>
      <%= render 'form' %>
    </div>
  <% end %>

  <%= render 'calender' %>

  <div class="standups-list">
    <% if @standups.nil? %>
      <div class="no-standups">
        <p>Nobody has posted a standup yet!</p>
      </div>
    <% else %>
      <div class="all-standups">
        <%= render @standups %>
      </div>
    <% end %>
  </div>
</div>
