<div class="home-page">
  <div class="content">
    <h1 class="title">FromPluto</h1>
    <h3 class="subtitle">A remote team's best friend</h3>
    <p class="intro">A remote team is only as good as it's communication.
    With help from FromPluto your productivity witll skyrocket!</p>
    <p class="services">With Services from FromPluto you can:</p>
    <div class="services-list">
      <li>Create Teams</li>
      <li>Post and review Standups</li>
      <li>Indicate Blockers</li>
    </ul>
  </div>
</div>
