<div class="member">
  <%= image_tag  gravatar_url(team_invite.email, 40) %>
  <div class="member-email">
    <%= team_invite.email %>
  </div>
  <div class="member-status">
    <p>Pending</p>
    <div class="actions">
      <%= link_to "Cancel Invite", team_team_invite_path(@team, team_invite),
        method: :delete %>
      </div>
    </div>
  </div>
