<div class="member">
  <%= image_tag  gravatar_url(team_member.email, 40) %>
  <div class="member-email">
    <%= team_member.email %>
  </div>

  <% if team_member.role_for_team(@team) == 'owner' %>
    <div class="member-status">
      <p>Team Owner</p>
    </div>
  <% else %>
    <div class="member-status">
      <p>Team Member</p>
      <div class="actions">
        <%= link_to "Remove Member", "#" %>
      </div>
    </div>
  <% end %>
</div>
