.flash-container {
  font-size: 14px;
  margin-top: 0;
  padding: $base-spacing 0;

  &.notice {
    background: $dark-purple;
  }

  &.alert {
    background: $red;
  }

  & + * {
    margin-top: 0;
  }

  & + .full {
    margin-top: 0;
  }
}

.flash {
  color: #fff;
  margin: 0;
  text-align: center;
}
