html, body {
  background: $white;
  height: 100%;
  margin: 0;
  font-family: "Open Sans","Helvetica","Arial","sans-serif";
  font-size: 16px;
  color: #909090;
}

header {
  background-color: $primary;
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 20px;

  & + * {
    margin-top: 24px;
  }

  & + .full {
    margin-top: 0;
  }

  .logo {
    color: $white;
    font-size: 16px;
    margin: 0;
  }

  .team-navigation {
    display: flex;
    align-items: center;

    .all-teams {
      display: inline-block;
      color: $light-gray;

      &:hover {
        color: $white;
      }
    }
  }

  .team-select {
    appearance: none;
    background: $dark-purple;
    border: none;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: $base-spacing;
    min-width: 220px;
    outline: none;
    padding-right: 22px;
    padding: 11px;
    position: relative;
    width: auto;
  }

  .team-select-wrapper {
    position: relative;
    margin-right: 12px;
    width: auto;

    &::after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $primary;
      clear: both;
      content: '';
      height: 0;
      position: absolute;
      right: 11px;
      top: calc(50% - 2.5px);
      width: 0;
    }
  }

  .current-avatar {
    border-radius: 50%;
  }

  .right-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-left: $base-spacing;
      color: $light-gray;
      text-decoration: none;
    }
  }
}

a {
  color: $gray;
  text-decoration: none;
}

h1 {
  display: block;
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 18px;
  color: $gray;
}

h2 {
  color: $gray;
}

