.standups-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  .standup-navigation {
    border-radius: 100px;
    border: 1px solid $light-gray;
    display: flex;
    margin: 0 auto;
    margin-top: 34px;
    max-width: 250px;
    padding: 24px 24px;

    .today {
      flex: 1;
      text-align: center;

      .calendar {
        color: $primary;
        margin-right: 4px;
      }
    }
  }

  .no-standups {
    margin-top: $base-spacing;
    text-align: center;
  }

  .standup {
    border-radius: $base-border-radius;
    border: 1px solid $light-gray;
    box-shadow: 0 1px 2px $light-gray;
    margin-top: $large-spacing;
    padding: $small-spacing;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    .user-info {
      align-items: center;
      display: flex;

      .user-avatar {
        border-radius: 50%;
        border-radius: 1px solid $light-gray;
        margin-right: 9px;
      }

      .meta {
        line-height: 1.2;

        .name {
          font-size: 14px;
          margin: 0;
        }

        .time {
          color: lighten($medium-gray, 16%);
          font-size: 12px;
        }
      }
    }
  }

  .content {
    margin-top: $tiny-spacing;
    font-size: 14px;

    p:last-child {
      margin-bottom: 0;
    }

    & + .blocker {
      margin-bottom: $small-spacing;
    }
  }


  .blockers {
    padding-left: 0;
    .blocker {
      background-color: $light-yellow;
      border-radius: $base-border-radius;
      border: 1px solid $yellow;
      font-size: 12px;
      margin-bottom: $small-spacing / 2;
      padding: $base-spacing / 2;
      max-width: 574px;
      width: 100%;

      &:first-child {
        margin-top: $base-spacing;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
