$base-spacing: 14px;

// Colors
$primary: #6f529d;
$dark-purple: #58407e;
$gray: #909090;
$medium-gray: #828282;
$light-gray: #eaeaea;
$white: #ffffff;

// Font sizes
$base-font-size: 16px;
$small-font-size: 14px;
