$base-border-radius: 4px;
$base-spacing: 14px;
$large-spacing: 24px;

// Colors
$primary: #6f529d;
$dark-purple: #58407e;
$red: #e45c5c;
$gray: #909090;
$medium-gray: #828282;
$light-gray: #eaeaea;
$yellow: #fff294;
$light-yellow: #fffbed;
$off-white: #f6f5f7;
$white: #ffffff;

// Font
$base-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$base-font-size: 16px;
$small-font-size: 14px;
