<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Hello <%= @team_invite.email %></h1>

    <p>
      You have been invited to join <%= @team_invite.team.name %>

    <%=
      link_to "Click here", team_team_invite_url(
        @team_invite,
        token: @team_invite.token,
        user_id: @team_invite.user,
        team_id: @team_invite.team
      )
      %> to join this team.

    Happy standups,
    fromPluto
  </p>
</body>
</html>
